<div class="hierarchy-container">
  <div class="hierarchy-nav">
    <p-selectbutton
      [options]="subTabs"
      [(ngModel)]="activeSubTab"
      optionLabel="label"
      optionValue="value"
      styleClass="p-buttonset-sm">
    </p-selectbutton>
  </div>

  <div class="hierarchy-content">
    @switch (activeSubTab) {
      @case ('campuses') {
        <app-campus-manager></app-campus-manager>
      }
      @case ('departments') {
        <app-department-manager></app-department-manager>
      }
      @case ('programs') {
        <app-program-manager></app-program-manager>
      }
    }
  </div>
</div>
